<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-0yIQhk6p-94271-9GYfNBRsPRomPf88</string>
	<key>GCM_SENDER_ID</key>
	<string>481297222762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.otpAuth</string>
	<key>PROJECT_ID</key>
	<string>phone-auth-a667b</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-auth-a667b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481297222762:ios:74c0739c8770f5506e0e13</string>
</dict>
</plist>